body{
    padding: 1% 2%;
    background: #F5F7F9;

}
header{
    
    display: inline-flex;
    height: 49px;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    align-items: center;


}
.img-logo{width: 40px;
height: 40px;
margin-right: 16px;}

.logo {display: flex;
    justify-content: space-between;
    align-items: center;
    color: #0E0F13;
font-family: 'Cabin', sans-serif;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 100%; /* 28px */

}
.nav-menu{ width: 30%;}
.menu {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-family: 'Cabin', sans-serif;
    color: #0E0F13;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 25px */
    margin: 12px 0;
    align-items: center;
   

}

button{ 
height: inherit;}

.list-menu{
    display: inline-block;
}
.list-menu-pricing {
color: #425DF8;
text-align: center;
font-family: 'Cabin', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 125%; /* 25px */}


.btn-div {display: flex;
    height: inherit;
    width: 240px;
}


.btn-in {display: flex;
    padding: 18px 22px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
border: 1px solid #DADADA;
color: #0E0F13;
text-align: center;
font-family: 'Cabin', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 100%; /* 18px */
letter-spacing: 0.72px;
text-transform: uppercase;
align-items: center;
}


.btn-up {display: flex;
    padding: 18px 22px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
border: 1px solid #425DF8;
background: #425DF8;
align-items: center;
color: #F6FDFF;
text-align: center;
font-family: 'Cabin', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 100%; /* 18px */
letter-spacing: 0.72px;
text-transform: uppercase;

margin-left: 2%;
    
}
.head-content { text-align: center;
    margin: 145px 0 120px 0;
}
h1{color: #0E0F13;
    font-family: 'Cabin', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 64px */
  margin-bottom: 24px;
}


p{color: #7F828A;
    font-family: 'Cabin', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 22px */}


.frame{display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16%;

 

}

.plan-pro-head{
    color: #F6FDFF;
text-align: center;
font-family: Cabin;
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: 125%; /* 37.5px */
}


.plan-title-head {
    color: #0E0F15;
text-align: center;
font-family: 'Cabin', sans-serif;
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: 125%; /* 37.5px */

}
.plan-title-text {
    text-align: center;
    margin:  27px 0 27px 0;
}
.div-price {
    display: flex;
    justify-content: center;

}


.price {
    color: #0E0F15;
text-align: right;
font-family: 'Cabin', sans-serif;
font-size: 64px;
font-style: normal;
font-weight: 500;
line-height: 125%; /* 80px */
letter-spacing: -2.56px;
margin-bottom: 27px;
    
}

.price-pro {color: #F6FDFF;
    text-align: right;
    font-family: Cabin;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 80px */
    letter-spacing: -2.56px;
    margin: 27px 0;
}

.money {text-align: center;
    margin-left: 16px;
    margin-top: 29px;
        
}
.money-pro {text-align: center;
    color:#F6FDFF;
    margin-left: 16px;
    margin-top: 29px;
}


    

.bullit {display: flex;
    width: 24px;
    height: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
background: #425DF8;
margin-right: 16px;

}
.plan-white{
    margin-top: 28px;
    
    width: 36%;
    height: 789px;
    padding: 56px;
    
    border-radius: 24px;
border: 1px solid #DADADA;
background: #FDFDFD;

}
.plan-black{
    margin: 0 1%;
    
width: 36%;
height: 817px;
padding: 56px;

border-radius: 24px;
border: 1px solid #161A34;
background: #161A34;

}



li{display: flex;
   margin-bottom: 16px;}

.plan-text-pro {
    color: #F6FDFF;
text-align: center;
font-family: Cabin;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 125%; /* 27.5px */
}

.p-pro {text-align: left;
    color: #F6FDFF;
    font-family: Cabin;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 27.5px */}


.btn-container{ 
    
    display: flex;
    justify-content: center;
    row-gap: 50px;
   
    
}

footer{
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    margin: 0 52px;

    
}
.logo-footer {
    display: flex;
    align-items: center;
}
.list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}